@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  --bg-color: #203774;
}

* {
  font-family: "Mulish", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f1f6fc;
}
